main .markdown {
  max-width: 50rem;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  padding: 1rem;
}

.anchor {
  float: none;
}

.home-links {
  text-align: center;
}

div .commercial-support {
  background-color: white;
  th {
    background-color: white;
  }
  td {
    padding: 1em;
  }
}
 div.markdown-container {
   padding-bottom: 1em;
 }
